body,html{
	background-color: pink;
	font-size: 16px;
	color: black;
	font-family: 'Helvetica';
	overflow-x: hidden;

}
#header_nav{
	background-color:black;
}

.navbar-brand a:hover , .navbar-brand a:focus{
	text-decoration: none;
} 
.home{
	font-size: 20px;
	color: red;	
}
img{
	display: block;
  
  width: 100%;
  height: auto;
}

#menu-tile, #specials-tile, #map-tile{
	height: 168px;
	width: 300px;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover , #specials-tile:hover,#map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;

} 
#menu-tile, #specials-tile{
	background: url('menu.jpg') no-repeat;
	background-position: center;
	
}
#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
	color: white;
}
h5{
	font-family: 'Helvetica';
	color:pink;
	text-align: center;

}
@media(min-width: 786px){
	#right-side-button{
		display: none;
	}
	#visibility{
		display: none;
	}
}
#right-side-button{
	float: right;
	
}
ul {
    width:100%;
    padding:0px;
    margin:0px;
    list-style:none;
}
li {
    width:100%;
    background:pink;
    position: relative;

}
li a {
display:block;
    height:50px;
}
#visibility{
	text-align: center;
	font-size: 20px;
}
.new{
	text-align: center;
}
